html {
    background: #fff;
    font-size: 80.5%;
    font-weight: 700;
  }


  .navbar {
    margin-left: 2.4rem;
    margin-top: 1rem;
    font-size: 1.8rem;

  }

  .navbar-brand {
   margin-left: 2.4rem;
   font-weight: 700;
  }

  .header1{
    background-image: url(/assets/images/header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    
  }
  .text {
    margin-top: 15%;
    line-height: 2.8rem;
    font-size: 2rem;
  }
  .text h1 {
    font-weight: 700;
font-size: 48px;
line-height: 60px;
padding-bottom: 2%;
  }

  a{
    text-decoration: none;
  }
  .connect {
    margin-top: 4%;
    line-height: 1.5rem;
    font-weight: 500;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-twitter ,.fa-github,.fa-linkedin,.fa-angellist,.fa-medium{
    background: #fff;
    color: #505F79;
  }
 