html {
  background: #fff;
  font-size: 62.5%;
}

body {
  background-color: #e5e5e5;
  border-bottom-left-radius: 0;
  font-size: 1.6rem;
  max-width: 37.5rem;
}

.flex-conatiner,
header {
  overflow: hidden;
  background-color: #fff;
  width: 375px;
}

header {
  position: relative;
}

.logo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2.4rem;
  margin-top: 5.8rem;
  background-color: #fff;
}

.see-project-btn a {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #396df2;
  width: 12rem;
  height: 4rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #396df2;
  padding-left: 0.8rem;
}

.logo h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  color: #6070ff;
}

.logo h2 a {
  text-decoration: none;
  width: 7.6rem;
  height: 2rem;
}

.logo h2 a :hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 37.5rem;
  display: grid;
  gap: 1.2rem;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom-left-radius: 0;
}

.header-wrapper,
.about-wrapper {
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  height: 71.8rem;
  margin-top: 0;
  margin-left: 0;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 70px;
}

.text {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.text h2 {
  display: flex;
  width: 32.7rem;
  height: 15rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 100px;
}

.text p {
  max-width: 32.7rem;
  max-height: 14.6rem;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
  margin-left: 2.4rem;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
}

.social-media {
  margin-left: 2.4rem;
  margin-top: 0;
}

.list-item li {
  flex: none;
  width: 30.3rem;
  height: 6.7rem;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 1.2rem;
}

.work-buttons ul li a {
  flex: none;
  text-decoration: none;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
  color: #6070ff;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
}

.about-me-list ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.social-media .icon-a a {
  text-decoration: none;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 11.7rem;
  height: 2.4rem;
}

.form-elements li {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
}

.list-project li,
.work-buttons ul li {
  list-style-type: none;
}

.about-me-list ul li {
  list-style-type: none;
  height: 2.4rem;
  margin-left: 1.2rem;
  margin-top: 2.4rem;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 0;
  list-style-type: none;
  padding: inherit;
}

.social-media ul li {
  max-width: 17.1rem;
  max-height: 2rem;
}

.twitter {
  width: 2rem;
  height: 2rem;
  margin-right: 1.9rem;
}

.linkedin {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.meduim {
  width: 2rem;
  height: 1.6rem;
  margin-right: 2rem;
}

.github {
  width: 1.8rem;
  height: 2rem;
  margin-right: 1.9rem;
}

.anglelist {
  width: 1.5rem;
  height: 2rem;
}

.work-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  background-color: #fff;
  height: 55.2rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 11.4rem;
  border-radius: 1.6rem;
  border-color: #dfe1e6;
  padding: 1.6rem;
  gap: 1.2rem;
}

.work-section {
  display: flex;
  flex-direction: column;
}

.snapshoot-potofolio {
  flex: none;
  width: 29.5rem;
  height: 22rem;
  border-radius: 8px;
  justify-content: center;
}

.work-txt h2 {
  width: 29.5rem;
  height: 3.6rem;
  color: #172b4d;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.list-project,
.list-project-story {
  display: inline-flex;
  width: 22.6rem;
  height: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  color: #7a869a;
  line-height: 1.6rem;
  justify-content: space-between;
  overflow: auto;
  list-style-type: none;
}

.first-element-ul {
  width: 5.5rem;
  height: 1.6rem;
  color: #344563;
  display: inline;
}

.work-paragraph {
  width: 29.5rem;
  height: 7.6rem;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.work-buttons {
  flex: none;
  order: 0;
}

.work-buttons ul {
  display: flex;
  height: 2.4rem;
  width: 24rem;
  align-items: flex-start;
  padding: 0;
}

.work-buttons .html {
  width: 5.3rem;
}

.work-buttons .css {
  width: 4.5rem;
}

.work-buttons .js {
  width: 8.9rem;
}

.story-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  background-color: #fff;
  height: 59.6rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 11.4rem;
  border-radius: 1.6rem;
  border-color: #dfe1e6;
  padding: 16px;
  gap: 12px;
}

.story-snapshoot-potofolio {
  flex: none;
  width: 29.5rem;
  height: 22rem;
  border-radius: 8px;
  justify-content: center;
}

.header-1 {
  height: 8rem;
}

.list-project-story {
  margin-top: 4rem;
}

.snapshoot-potofolio2 {
  flex: none;
  width: 29.5rem;
  height: 22rem;
  border-radius: 8px;
  justify-content: center;
}

.story-snapshoot-potofolio2 {
  flex: none;
  width: 29.5rem;
  height: 22rem;
  border-radius: 8px;
  justify-content: center;
}

.about-wrapper {
  background-color: #fff;
  background-image: none;
  border-top-right-radius: 7.4rem;
  border-bottom-left-radius: 0;
  margin-top: 11.4rem;
  height: auto;
  width: 37.5rem;
}

.see-project-btn .get-resume-link {
  width: 13.8rem;
  height: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-container {
  list-style-type: none;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.list-icon {
  background-image: url(assets/images/Vector.png);
}

.list-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style-type: none;
  display: contents;
}

.list-item li img {
  width: 4.8rem;
  height: 4.8rem;
  vertical-align: middle;
}

.list {
  border-block-width: 1px;
  border-bottom-style: inset;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: 77.9rem;
  background-color: #6070ff;
  background-image: url("../images/contact.png");
  background-repeat: no-repeat;
  background-size: 64%;
  background-position: right;
  border-top-left-radius: 73px;
}

.form-section h1 {
  padding-top: 3.9rem;
  width: 80.1rem;
  height: 5.6rem;
  padding-left: 5.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.form-section p {
  text-align: center;
  padding-left: 1.2rem;
  width: 32.7rem;
  height: 10.2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
}

.form-elements {
  list-style: none;
  border-radius: 8px;
}

.input {
  border-radius: 8px;
  height: 30px;
  width: 270px;
}

.textArea {
  height: 17rem;
  width: 27rem;
}

.btn {
  align-items: center;
  padding: 1.2rem 1.6rem;
  width: 14rem;
  height: 4.8rem;
  left: 2.4rem;
  top: 531.7rem;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.to-hide {
  display: none;
}

.to-diplay {
  display: block;
}

.see-project-btn a:disabled {
  background-color: #fff;
  color: #344563;
  opacity: 0.6;
  cursor: not-allowed;
}

.see-project-btn a:hover {
  background-color: #396df2;
  color: #fff;
  cursor: pointer;
  outline-color: #6070ff;
  border: none;
}

.see-project-btn a:enabled {
  background-color: #fff;
  color: #344563;
  opacity: 1;
  cursor: pointer;
  border: 1px solid #344563;
}

.btn:hover {
  background-color: #396df2;
  color: #fff;
  cursor: pointer;
  outline-color: #6070ff;
  border: none;
}

.btn:disabled {
  background-color: #fff;
  color: #344563;
  opacity: 0.6;
  cursor: not-allowed;
}

.get-resume-link a:enabled {
  background-color: #fff;
  color: #344563;
  opacity: 1;
  cursor: pointer;
  border: 1px solid #344563;
}

.get-resume-link a:disabled {
  background-color: #fff;
  color: #344563;
  opacity: 0.6;
  cursor: not-allowed;
}
